// color
//$green: #C7C7C7;


.tab {

  //margin-bottom: 20px;
  position: relative;
  //width: 100%;
  //margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  color: $dark-gray;
}

.tabs {
  width: 230px;
  margin: 0 0 0 10px;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 38px;
    overflow: hidden;
    position: relative;
    width: 69px;
  }

  a {
    background-color: #E4E4E4;
    color: $dark-gray;
    font-weight: 500;
    display: block;
    letter-spacing: 0;
    outline: none;
    padding: 0 27px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

.active a {
  color: #fff;
  font-weight: 500;
  background: $blue;
}
