<h3>Gestures:</h3>
<input id="name-gesture" type="text"/>

<button name="create_button" class="btn btn-sm btn-primary" onclick="record()">Create gesture</button>

<ul class="gesture-list"></ul>

<div class="extra-buttons">
  <button name="addExampleGestures" class="btn btn-xs btn-default" onclick="seeStats()">
    <span class="glyphicon glyphicon-stats"></span> See stats
  </button>
  <button name="addExampleGestures" class="btn btn-xs btn-default" onclick="clearDataStorage()">
    <span class="glyphicon glyphicon-floppy-disk"></span> Load defaults
  </button>
  <button name="addExampleGestures" class="btn btn-xs btn-default" onclick="getGestureListJSON()">
    <span class="glyphicon glyphicon-paperclip"></span> Load example gestures
  </button>
</div>
