
<div class="home-page">

  <!-- Logo-->
  <img src="assets/img/leaplearn_uc3m.png" width="400" alt=""/>

  <!-- Image detection -->
  <img class="img-detect" src="assets/img/detect.gif" width="400" alt=""/>

  <!-- Countdown -->
  <svg id="countdown" width="250" height="250" viewbox="0 0 250 250">
    <path id="border" transform="translate(125, 125)"/>
    <path id="loader" transform="translate(125, 125) scale(.84)"/>
  </svg>

  <!-- Left side-->
  <aside id="gesturesPanel" class="left"></aside>

  <!-- Right side-->
  <aside id="settingsPanel" class="right"></aside>


  <!-- Dev stats -->
  <div id="deb-stats">
    <p class="dev"><strong>Debug for one finger:</strong> <br/>
      Finger name: <span id="finger-name">...</span><br/>
      Tip position (Stable): <span id="finger-position">...</span><br/>
      Tip position (non stable): <span id="tip-position">...</span><br/>
      Finger distance: <span id="finger-distance">...</span><br/>
      Finger Acceleration: <span id="aceleration">...</span> <br/>
    </p>
  </div>


  <!-- MODAL -->
  <div id="modal-gesture" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Leap Learn Info</h4>
        </div>
        <div class="modal-body">
          <p>The name can not be empty.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


  <!-- MODAL Record key-->
  <div id="modal-recordkey" class="modal fade in">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">Leap Learn Info</h4>
        </div>
        <div class="modal-body">
          <div class="gestureKey"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="saveGesure()" data-dismiss="modal">Save Gesture
          </button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


  <!-- MODAL Stats-->
  <div id="modal-stats" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">2D & 3D Stats</h4>
        </div>
        <div class="modal-body">
          <div id="stats"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


  <!--<script src="assets/js/vars.js"></script>-->
  <!--<script src="assets/js/sliders.js"></script>-->
  <!--<script src="assets/js/keyToCode.js"></script>-->
  <!--<script src="assets/js/charts.js"></script>-->
  <!--<script src="assets/js/read.js"></script>-->
  <!--<script src="assets/js/keyboard.js"></script>-->
  <!--<script src="assets/js/record.js"></script>-->
  <!--<script src="assets/js/interface.js"></script>-->
  <!--<script src="assets/js/match.js"></script>-->
  <!--<script src="assets/js/gestureList.js"></script>-->
  <!--<script src="assets/js/main.js"></script>-->

</div>
