<!-- Logo-->
<img src="assets/img/leaplearn_uc3m.png" width="400" alt=""/>

<div id="postionfinger"></div>
<!--Main content-->
<section>
  <!--Background-->
  <video autoplay="" loop="" poster="" id="bgvid">
    <source src="/assets/img/video/leapvideo.webm" type="video/webm">
    <source src="/assets/img/video/leapvideo.mp4" type="video/mp4">
  </video>

  <div id="index-content" class="index-content container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="jumbotron">
          <h1>
            LeapLearn!
          </h1>
          <p>
            Herramienta para la definición de gestos por usuario final con Leap Motion.
          </p>
          <p>
            Jesús García - Universidad Carlos III de Madrid
          </p>
          <p><br/></p>
        </div>
      </div>
    </div>

  </div>

  <div class="index-content">
    <a id="entranceButton" data-button="home" href="home.html" class="btn btn-lg btn-primary">
      <span class="glyphicon glyphicon-hand-up"></span>
      Entrar
    </a>
  </div>

</section>

<div id="stage"></div>
