<!-- Switcher 3D -->
<div class="tab">
  <ul class="tabs">
    <li><a href="#" data-axi="xy">xy</a></li>
    <li><a href="#" data-axi="xz">xz</a></li>
    <li><a href="#" data-axi="yz">yz</a></li>
  </ul>
</div>

<!-- Status -->
<div id="notification-square">
  <div class="text-notification"></div>
  <div class="ball-l"></div>
  <div class="ball-r"></div>
</div>

<!-- Sliders -->
<div class="slider">
  <div class="percentage">
    <div>Percentage detection: <span id="value-per"></span></div>
    <div id="per-detection" class="ui-slider green" aria-disabled="false"></div>
  </div>
  <div class="velocity">
    <div>Velocity sensitivity: <span id="value-vel"></span></div>
    <div id="velocity-bar" class="ui-slider" aria-disabled="false"></div>
  </div>

  <div class="clousure">
    <div>Clousure time: <span id="value-clousure"></span></div>
    <div id="clousere-bar" class="ui-slider" aria-disabled="false"></div>
    <div class="value"></div>
  </div>
</div>

<!-- 3D Graphics -->
<div id="graphs-wrapper">
  <span class="xy">xy</span>
  <span class="yz">yz</span>
  <span class="xz">xz</span>
  <div id="graphs">
    <canvas id="square3d-xy" data-axi="xy" class="square3d" width="100" height="100"></canvas>
    <canvas id="square3d-yz" data-axi="yz" class="square3d" width="100" height="100"></canvas>
    <canvas id="square3d-xz" data-axi="xz" class="square3d" width="100" height="100"></canvas>
  </div>
  <img src="assets/img/graph.png" class="square3d"/>
</div>
