#leap-learn{
    img{
        position: absolute;
    }
    width: 1024px;
    height: 768px;
    margin: 0 auto;
    display: block;

    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    position: relative;


    #postionfinger{
        position: absolute;
    }


    #entranceButton{
        position: absolute;
        top:400px;
        left: 60px;
    }
    #helpButton{
        position: absolute;
        top:400px;
        left: 200px;
    }
    #backToHomeButton{
        position: absolute;
        top:10px;
        left: 10px;
    }


    .jumbotron{
        margin: -15px;
        margin-top: 150px;
        max-width: 1024px;
        background-color: rgba(238, 238, 238, 0.8);
        position: relative;
    }
    video#bgvid {
        position: fixed; right: 0; bottom: 0;
        min-width: 100%; min-height: 100%;
        width: auto; height: auto; z-index: -100;
        background-size: cover;
    }

    #stage{
        background-color: rgba(250, 235, 200, 0);
        width: 1024px; height: 768px;
        position: absolute;
        top: 0; left: 0;
        pointer-events: none;
        cursor: pointer;
    }

}
